<div class="row">
    <div class="col-6">
        <div class="card bg-none flat">
            <div class="card-header">
                <h4 class="card-title text-white"> Strategy Performances</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div id="bot-performance" style="height:400px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card bg-none flat">
            <div class="card-header">
                <h4 class="card-title text-white"> Strategy Performances by Tickers</h4>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div id="scatter-performance" style="height:400px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>