<div class="row">
  <div class="col-12">
    <div class="card bg-none flat">
      <div class="card-header">
        <h4 class="card-title text-white">Transactions list</h4>
        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
        <div class="heading-elements">
          <ul class="list-inline mb-0">
            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
            <li><a data-action="close"><i class="ft-x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="card-content collapse show">
        <div class="card-body text-white">
          <table class="table table-hover" cellspacing="0">
            <thead>
              <tr>
                <th>Ticker</th>
                <th>Created At</th>
                <th>Strategy</th>
                <th>Type</th>
                <th>Volume</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions">
                <td>{{transaction.ticker}}</td>
                <td>{{ transaction.dateTime | date : "medium"  }}</td>
                <td>{{transaction.strategy}}</td>
                <td>{{transaction.type}}</td>
                <td>{{transaction.volume}}</td>
                <td>{{transaction.stockPrice | currency:'USD' }}</td>
                <td>{{transaction.total | currency:'USD' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>