<div class="row">
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-danger">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">USD 3490.00</h4>
                        <span>Total Net Worth</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-pointer text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-success">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">USD 278.00</h4>
                        <span>Available Funds</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-cup text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-amber">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">4500</h4>
                        <span>Airlines to Travel</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-plane text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-info">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">1500</h4>
                        <span>VIP Transports</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-star text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card bg-none flat">
            <div class="card-header">
                <h4 class="card-title text-white"> Bot Performance</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <div id="bot-performance" style="height:400px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-transactions></app-transactions>