<div class="row">
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-danger">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">USD 3490.00</h4>
                        <span>Total Net Worth</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-pointer text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-success">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">USD 278.00</h4>
                        <span>Available Funds</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-cup text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-amber">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">4500</h4>
                        <span>Airlines to Travel</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-plane text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-6 col-12">
    <div class="card bg-gradient-info">
        <div class="card-content">
            <div class="card-body">
                <div class="media d-flex">
                    <div class="media-body text-white text-left">
                        <h4 class="text-white">1500</h4>
                        <span>VIP Transports</span>
                    </div>
                    <div class="align-self-center">
                        <i class="icon-star text-white font-large-2 float-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<app-dashboard-charts></app-dashboard-charts>
<app-transactions></app-transactions>